{% extends 'base.html.twig' %}

{% block title %}Edit Duckuser{% endblock %}

{% block body %}
<div class="container">
    <h1>Edit Duckuser</h1>

    {{ include('duckuser/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('duckuser_index') }}">Back to list</a>

    {{ include('duckuser/_delete_form.html.twig') }}
</div>
{% endblock %}
